
services:
  db:
    image: mysql:8.0
    container_name: devops-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: world
    ports:
      - "3307:3306"
    volumes:
      - ./db/world.sql:/docker-entrypoint-initdb.d/world.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-pexample"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: devops-app
    depends_on:
      db:
        condition: service_healthy
